#Menu-upgrade-notification-alert a {
	background-color: #142136;
	background-image: none;
	border-top:1px solid #19435c;
	color:#eee;
	text-shadow:none;
}

#Menu-upgrade-notification-alert a:hover {
	background-color: #142136;
	color:#fff;
}

#Menu-upgrade-notification-alert a .icon {
	opacity:1;
}

#Menu-upgrade-notification-success a {
	background-color: #142136;
	background-image: none;
	border-top:1px solid #19435c;
	color:#eee;
	text-shadow:none;
}

#Menu-upgrade-notification-success a:hover {
	background-color: #142136;
	color:#fff;
}

#Menu-upgrade-notification-success a .icon {
	opacity:1;
}

.ss-upgrade-content {
	font-size:14px;
}

.icon.icon-16.icon-upgrade-notification-alert { 
	width: 16px; 
	height: 16px; 
	background: url('../images/warning-16.png'); 
}
.icon.icon-24.icon-upgrade-notification-alert { 
	width: 24px; 
	height: 24px; 
	background: url('../images/warning-24.png'); 
}
.icon.icon-16.icon-upgrade-notification-success { 
	width: 16px; 
	height: 16px; 
	background: url('../images/success-16.png'); 
}
.icon.icon-24.icon-upgrade-notification-success { 
	width: 24px; 
	height: 24px; 
	background: url('../images/success-24.png'); 
}